---

---

<div>
    <slot/>
</div>
<style is:global>
    .artalk, .atk-layer-wrap {
        --at-color-font: #2a2e2e;
        --at-color-deep: #2a2e2e;
        --at-color-sub: #757575;
        --at-color-grey: #747474;
        --at-color-meta: #697182;
        --at-color-border: #eceff2;
        --at-color-light: #4285f4;
        --at-color-bg: #fff;
        --at-color-bg-transl: #fffffff0;
        --at-color-bg-grey: #f3f4f5;
        --at-color-bg-grey-transl: #f4f4f4bf;
        --at-color-bg-light: #1da1f21a;
        --at-color-main: #0083ff;
        --at-color-red: #ff5652;
        --at-color-pink: #fa5a57;
        --at-color-yellow: #ff7c37;
        --at-color-green: #4caf50;
        --at-color-gradient: linear-gradient(180deg, transparent, #fff)
    }

    .dark .artalk, .atk-layer-wrap {
        --at-color-font: #fff;
        --at-color-deep: #e7e7e7;
        --at-color-sub: #e7e7e7;
        --at-color-grey: #fff;
        --at-color-meta: #fff;
        --at-color-border: #2d3235;
        --at-color-light: #687a86;
        --at-color-bg: #1e2224;
        --at-color-bg-transl: #1e2224f2;
        --at-color-bg-grey: #46494e;
        --at-color-bg-grey-transl: #080808f2;
        --at-color-bg-light: #1da1f21a;
        --at-color-main: #0083ff;
        --at-color-red: #ff5652;
        --at-color-pink: #fa5a57;
        --at-color-yellow: #ff7c37;
        --at-color-green: #4caf50;
        --at-color-gradient: linear-gradient(180deg, transparent, #1e2224)
    }

    .atk-comment-wrap {
        border-bottom: 1px solid #0000;
        position: relative;
        overflow: hidden
    }

    .atk-comment-wrap.atk-flash-once {
        animation: 1s ease-in-out atkFlashOnce
    }

    @keyframes atkFlashOnce {
        0% {
            background: #0083ff33
        }
        to {
            background: 0 0
        }
    }

    .atk-comment-wrap.atk-unread:before {
        content: " ";
        background: var(--at-color-main);
        width: 3px;
        height: 80%;
        position: absolute;
        top: 10%;
        left: 0
    }

    .atk-comment-wrap.atk-openable {
        cursor: pointer
    }

    .atk-comment-wrap.atk-openable:hover {
        background: var(--at-color-bg-grey)
    }

    .atk-comment-wrap.atk-openable .atk-height-limit:after {
        background: 0 0 !important
    }

    .atk-comment-wrap:last-child {
        border-bottom: none
    }

    .atk-comment {
        padding: 10px;
        display: block
    }

    .atk-comment > .atk-avatar {
        float: left;
        padding: 2px 0;
        display: block
    }

    .atk-comment > .atk-avatar img {
        border-radius: 3px;
        width: 50px;
        height: 50px
    }

    .atk-comment > .atk-main {
        margin-left: 63px;
        display: block
    }

    .atk-comment > .atk-main > .atk-header {
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: .5em;
        font-size: 13px;
        line-height: 1.5;
        display: flex;
        position: relative;
        overflow: hidden
    }

    .atk-comment > .atk-main > .atk-header .atk-item {
        color: var(--at-color-meta);
        align-items: center;
        margin-top: 2px;
        margin-bottom: 2px;
        display: flex
    }

    .atk-comment > .atk-main > .atk-header .atk-item:not(:last-child) {
        margin-right: 6px
    }

    .atk-comment > .atk-main > .atk-header .atk-item.atk-nick, .atk-comment > .atk-main > .atk-header .atk-item.atk-nick a {
        color: var(--at-color-main);
        font-size: 14px;
        text-decoration: none
    }

    .atk-comment > .atk-main > .atk-header .atk-item.atk-reply-at {
        margin-left: 2px
    }

    .atk-comment > .atk-main > .atk-header .atk-item.atk-reply-at > .atk-arrow:before {
        content: "";
        vertical-align: middle;
        border-bottom: 4px solid var(--at-color-grey);
        border-left: 3px solid #0000;
        border-right: 3px solid #0000;
        margin-top: -1px;
        display: inline-block;
        transform: rotate(90deg)
    }

    .atk-comment > .atk-main > .atk-header .atk-item.atk-reply-at > .atk-nick {
        color: var(--at-color-main);
        cursor: pointer;
        margin-left: 6px
    }

    .atk-comment > .atk-main > .atk-header .badge, .atk-comment > .atk-main > .atk-header .atk-ua, .atk-comment > .atk-main > .atk-header .atk-pinned-badge, .atk-comment > .atk-main > .atk-header .atk-region-badge, .atk-comment > .atk-main > .atk-header .atk-badge {
        color: var(--at-color-meta);
        background: var(--at-color-bg-grey);
        border-radius: 3px;
        padding: 0 6px;
        line-height: 17px;
        display: inline-block
    }

    .atk-comment > .atk-main > .atk-header .badge:not(:last-child), .atk-comment > .atk-main > .atk-header .atk-ua:not(:last-child), .atk-comment > .atk-main > .atk-header .atk-pinned-badge:not(:last-child), .atk-comment > .atk-main > .atk-header .atk-region-badge:not(:last-child), .atk-comment > .atk-main > .atk-header .atk-badge:not(:last-child), .atk-comment > .atk-main > .atk-header .atk-badge-wrap > :last-child {
        margin-right: 6px
    }

    .atk-comment > .atk-main > .atk-header .atk-badge {
        color: #fff
    }

    .atk-comment > .atk-main > .atk-header .atk-pinned-badge {
        color: #fff;
        background: #f44336
    }

    .atk-comment > .atk-main > .atk-header .atk-verified-icon {
        background-image: url('data:image/svg+xml,<svg viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" fill="%231d9bf0"><g><path d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z"></path></g></svg>');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.4em;
        height: 1.4em;
        display: block
    }

    @media only screen and (max-width: 768px) {
        .atk-comment > .atk-main > .atk-header .atk-ua-wrap {
            display: block
        }
    }

    .atk-comment > .atk-main > .atk-body {
        display: block;
        position: relative;
        overflow: hidden
    }

    .atk-comment > .atk-main > .atk-body img {
        max-width: 100%
    }

    .atk-comment > .atk-main > .atk-body > .atk-content {
        word-break: break-word
    }

    .atk-comment > .atk-main > .atk-body > .atk-content.atk-type-collapsed {
        border: 3px solid var(--at-color-bg-grey);
        border-bottom: 0;
        border-radius: 6px 6px 0 0;
        margin-bottom: -5px;
        padding: 5px 10px
    }

    .atk-comment > .atk-main > .atk-body > .atk-content > :first-child {
        margin-top: 0
    }

    .atk-comment > .atk-main > .atk-body > .atk-content > :last-child {
        margin-bottom: 0
    }

    .atk-comment > .atk-main > .atk-body > .atk-content .atk-height-limit-btn {
        bottom: 5px
    }

    .atk-comment > .atk-main > .atk-body > .atk-pending {
        color: var(--at-color-meta);
        background: var(--at-color-bg-grey);
        border-left: 4px solid #f44336;
        margin: 3px 0;
        padding: 10px 18px;
        font-size: 13px;
        display: block
    }

    .atk-comment > .atk-main > .atk-body > .atk-reply-to {
        border-left: 3px solid var(--at-color-border);
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px 15px;
        position: relative
    }

    .atk-comment > .atk-main > .atk-body > .atk-reply-to .atk-meta {
        font-size: 15px
    }

    .atk-comment > .atk-main > .atk-body > .atk-reply-to .atk-meta .atk-nick {
        color: var(--at-color-main)
    }

    .atk-comment > .atk-main > .atk-body > .atk-reply-to .atk-content {
        margin-top: 5px
    }

    .atk-comment > .atk-main > .atk-body > .atk-collapsed {
        background: var(--at-color-bg-grey);
        border-radius: 6px;
        margin: 3px 0;
        padding: 10px 18px;
        font-size: 13px;
        display: block
    }

    .atk-comment > .atk-main > .atk-body > .atk-collapsed .atk-text {
        color: var(--at-color-meta)
    }

    .atk-comment > .atk-main > .atk-body > .atk-collapsed .atk-show-btn {
        color: var(--at-color-main);
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        margin-left: 3px
    }

    .atk-comment > .atk-main > .atk-body > .atk-collapsed .atk-show-btn:hover {
        color: var(--at-color-main)
    }

    .atk-comment > .atk-main > .atk-footer {
        margin-top: 5px
    }

    .atk-comment > .atk-main > .atk-footer .atk-actions {
        flex-flow: wrap;
        align-items: center;
        display: flex
    }

    .atk-comment > .atk-main > .atk-footer .atk-actions > span {
        color: var(--at-color-meta);
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        font-size: 13px;
        line-height: 25px;
        display: inline-flex
    }

    .atk-comment > .atk-main > .atk-footer .atk-actions > span.atk-error, .atk-comment > .atk-main > .atk-footer .atk-actions > span.atk-error:hover {
        color: var(--at-color-red)
    }

    .atk-comment > .atk-main > .atk-footer .atk-actions > span:not(:last-child):not(.atk-hide) {
        margin-right: 16px
    }

    .atk-comment > .atk-main > .atk-footer .atk-actions > span:hover {
        color: var(--at-color-deep)
    }

    .atk-comment .atk-height-limit:after {
        z-index: 1;
        content: " ";
        background: var(--at-color-gradient);
        width: 100%;
        height: 80px;
        display: block;
        position: absolute;
        bottom: 0;
        overflow: hidden
    }

    .atk-comment .atk-height-limit-btn {
        z-index: 2;
        cursor: pointer;
        border: 1px solid var(--at-color-border);
        background: var(--at-color-bg);
        color: var(--at-color-meta);
        -webkit-user-select: none;
        user-select: none;
        border-radius: 6px;
        padding: 1px 20px;
        font-size: 15px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%)
    }

    .atk-comment .atk-height-limit-btn:hover {
        background: var(--at-color-bg-grey)
    }

    .atk-comment .atk-height-limit .atk-height-limit .atk-height-limit-btn {
        display: none
    }

    .atk-comment .atk-height-limit-scroll {
        background: linear-gradient(var(--at-color-bg) 1px, transparent 1px calc(100% - 1px)) center top, linear-gradient(transparent calc(100% - 1px), var(--at-color-bg) calc(100% - 1px) 1px) center bottom, linear-gradient(var(--at-color-border) 1px, transparent 1px calc(100% - 1px)) center top, linear-gradient(transparent calc(100% - 1px), var(--at-color-border) calc(100% - 1px) 1px) center bottom;
        background-color: #0000;
        background-repeat: no-repeat;
        background-size: 100% 1px, 100% 1px, 100% 1px, 100% 1px;
        background-attachment: local, local, scroll, scroll;
        margin-top: 10px;
        overflow-y: auto
    }

    .atk-comment-children > .atk-comment-wrap {
        border-bottom-color: #0000;
        border-left: 1px dashed #0000;
        margin-top: 10px
    }

    .atk-comment-children > .atk-comment-wrap:not(:last-child) {
        margin-bottom: 10px
    }

    .atk-comment-children > .atk-comment-wrap > .atk-comment {
        padding: 0
    }

    .atk-comment-children > .atk-comment-wrap > .atk-comment > .atk-avatar img {
        width: 36px;
        height: 36px
    }

    .atk-comment-children > .atk-comment-wrap > .atk-comment > .atk-main {
        margin-left: 47px
    }

    .artalk > .atk-list {
        position: relative
    }

    .artalk > .atk-list > .atk-list-header {
        flex-direction: row;
        padding: 10px 17px;
        display: flex
    }

    .artalk > .atk-list > .atk-list-header .atk-text {
        display: inline-block
    }

    .artalk > .atk-list > .atk-list-header .atk-dropdown-wrap {
        cursor: pointer;
        position: relative
    }

    .artalk > .atk-list > .atk-list-header .atk-dropdown-wrap .atk-arrow-down-icon {
        cursor: pointer;
        vertical-align: middle;
        border-top: 5px solid var(--at-color-grey);
        border-left: 3px solid #0000;
        border-right: 3px solid #0000;
        margin-top: -1px;
        margin-left: .8rem;
        display: inline-block
    }

    .artalk > .atk-list > .atk-list-header .atk-dropdown-wrap:hover .atk-dropdown {
        display: block
    }

    .artalk > .atk-list > .atk-list-header .atk-dropdown-wrap .atk-dropdown {
        z-index: 3;
        background-color: var(--at-color-bg);
        border: 1px solid var(--at-color-border);
        text-align: center;
        white-space: nowrap;
        border-radius: 6px;
        width: 100%;
        max-height: calc(100vh - 2.7rem);
        margin: 0;
        padding: .6rem 0;
        list-style: none;
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        overflow-y: auto;
        height: auto !important
    }

    .artalk > .atk-list > .atk-list-header .atk-dropdown-wrap .atk-dropdown-item span, .artalk > .atk-list > .atk-list-header .atk-dropdown-wrap .atk-dropdown-item a {
        border-bottom: none;
        padding: 0 1.5rem;
        font-weight: 400;
        line-height: 2rem;
        display: block;
        position: relative
    }

    .artalk > .atk-list > .atk-list-header .atk-dropdown-wrap .atk-dropdown-item span:hover, .artalk > .atk-list > .atk-list-header .atk-dropdown-wrap .atk-dropdown-item a:hover, .artalk > .atk-list > .atk-list-header .atk-dropdown-wrap .atk-dropdown-item.active span, .artalk > .atk-list > .atk-list-header .atk-dropdown-wrap .atk-dropdown-item a {
        color: var(--at-color-main)
    }

    .artalk > .atk-list > .atk-list-header .atk-comment-count {
        font-size: 15px
    }

    .artalk > .atk-list > .atk-list-header .atk-comment-count .atk-comment-count-num {
        margin-right: 4px;
        font-size: 22px
    }

    .artalk > .atk-list > .atk-list-header .atk-right-action {
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        display: flex
    }

    .artalk > .atk-list > .atk-list-header .atk-right-action > span {
        color: var(--at-color-meta);
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        font-size: 14px;
        position: relative
    }

    .artalk > .atk-list > .atk-list-header .atk-right-action > span.atk-on, .artalk > .atk-list > .atk-list-header .atk-right-action > span.atk-on * {
        color: var(--at-color-main)
    }

    .artalk > .atk-list > .atk-list-header .atk-right-action > span:not(:last-child):not(.atk-hide) {
        margin-right: 10px;
        padding-right: 10px
    }

    .artalk > .atk-list > .atk-list-header .atk-right-action > span .atk-unread-badge {
        color: #fff;
        background: var(--at-color-pink);
        text-align: center;
        border-radius: 8px;
        min-width: 16px;
        height: 16px;
        padding: 0 3px;
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        top: -5px;
        left: -6px
    }

    .artalk > .atk-list > .atk-list-body {
        min-height: 150px
    }

    .artalk > .atk-list > .atk-list-footer {
        text-align: right
    }

    @media only screen and (max-width: 768px) {
        .artalk > .atk-list > .atk-list-footer {
            float: initial;
            text-align: center
        }
    }

    .artalk > .atk-list > .atk-list-footer .atk-copyright {
        color: var(--at-color-meta);
        padding-right: 15px;
        font-size: 12px;
        display: block
    }

    .artalk > .atk-list > .atk-list-footer .atk-copyright a {
        color: var(--at-color-main);
        text-decoration: none
    }

    .atk-list-no-comment {
        word-break: break-word;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 150px;
        font-size: 19px;
        display: flex
    }

    .atk-list-read-more {
        border-top: 1px dashed var(--at-color-border);
        margin-top: 28px;
        padding-bottom: 25px
    }

    @media only screen and (max-width: 768px) {
        .atk-list-read-more {
            padding-bottom: 10px
        }
    }

    .atk-list-read-more.atk-err .atk-text {
        color: var(--at-color-red) !important
    }

    .atk-list-read-more .atk-list-read-more-inner {
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        background: var(--at-color-bg);
        border: 1px solid #0000;
        border-color: var(--at-color-border);
        border-radius: 6px;
        flex-direction: row;
        place-content: center;
        align-items: center;
        width: 120px;
        height: 30px;
        margin: -15px auto 0;
        padding: 0 15px;
        font-size: 14px;
        display: flex
    }

    .atk-list-read-more .atk-list-read-more-inner > .atk-loading-icon {
        width: 15px;
        height: 15px
    }

    .atk-list-read-more .atk-list-read-more-inner > .atk-text {
        color: var(--at-color-meta)
    }

    .atk-list-read-more .atk-list-read-more-inner:hover {
        background: var(--at-color-bg-grey)
    }

    .atk-pagination {
        flex-direction: row;
        justify-content: center;
        padding: 10px 0;
        display: flex;
        position: relative
    }

    .atk-pagination > .atk-btn, .atk-pagination > .atk-input {
        border: 1px solid var(--at-color-border);
        text-align: center;
        background: var(--at-color-bg);
        border-radius: 3px;
        height: 30px;
        padding: 0 5px
    }

    .atk-pagination > .atk-btn {
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 60px;
        display: flex
    }

    .atk-pagination > .atk-btn:hover {
        background: var(--at-color-bg-grey)
    }

    .atk-pagination > .atk-btn.atk-disabled {
        color: var(--at-color-sub)
    }

    .atk-pagination > .atk-btn.atk-disabled:hover {
        cursor: default;
        background: initial
    }

    .atk-pagination > .atk-input {
        color: var(--at-color-font);
        background: 0 0;
        outline: 0;
        width: 60px;
        font-size: 18px
    }

    .atk-pagination > .atk-input:focus {
        border-color: var(--at-color-main)
    }

    .atk-pagination > :not(:last-child) {
        margin-right: 10px
    }

    .atk-main-editor {
        background: var(--at-color-bg);
        border: 1px solid var(--at-color-border);
        border-radius: 6px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden
    }

    @media only screen and (max-width: 768px) {
        .atk-main-editor {
            margin-bottom: 7px
        }
    }

    .atk-main-editor.editor-traveling {
        margin-top: 5px;
        margin-bottom: 10px
    }

    .atk-main-editor > .atk-header {
        flex-direction: row;
        padding: 10px 14px 0;
        display: flex
    }

    .atk-main-editor > .atk-header input {
        resize: none;
        background: 0 0;
        border: 2px solid #0000;
        border-radius: 3px;
        outline: 0;
        flex: 1;
        width: 100%;
        padding: 6px 5px;
        font-size: 14px
    }

    .atk-main-editor > .atk-header input:not(:last-child) {
        margin-right: 2px
    }

    .atk-main-editor > .atk-textarea-wrap {
        position: relative
    }

    .atk-main-editor > .atk-textarea-wrap > .atk-textarea {
        color: var(--at-color-font);
        background-color: var(--at-color-bg);
        resize: none;
        word-wrap: break-word;
        border: 2px solid #0000;
        border-radius: 3px;
        outline: 0;
        width: 100%;
        min-height: 120px;
        margin-top: 2px;
        padding: 10px 20px;
        font-size: 15px;
        display: block;
        overflow: hidden
    }

    .atk-main-editor > .atk-textarea-wrap > .atk-comment-closed {
        pointer-events: none;
        color: var(--at-color-meta);
        background-color: var(--at-color-bg);
        border-top: 1px solid var(--at-color-border);
        margin-top: 10px;
        padding: 5px 15px;
        font-size: 12px
    }

    .atk-main-editor > .atk-plug-panel-wrap {
        border-top: 1px solid var(--at-color-border);
        width: 100%;
        height: 180px;
        transition: height .2s ease-in-out;
        animation: .3s both atkFadeIn;
        position: relative;
        overflow: hidden
    }

    .atk-main-editor > .atk-bottom {
        flex-flow: wrap;
        justify-content: space-between;
        row-gap: 5px;
        padding: 5px;
        display: flex
    }

    .atk-main-editor > .atk-bottom > .atk-item {
        flex-direction: row;
        align-items: center;
        display: flex
    }

    .atk-main-editor > .atk-bottom > .atk-bottom-left > .atk-state-wrap {
        margin-right: 5px
    }

    .atk-main-editor > .atk-bottom > .atk-bottom-left > .atk-plug-btn-wrap {
        flex-flow: wrap;
        align-items: center;
        row-gap: 5px;
        display: flex
    }

    .atk-main-editor > .atk-bottom .atk-plug-btn {
        cursor: pointer;
        color: var(--at-color-grey);
        -webkit-user-select: none;
        user-select: none;
        word-break: keep-all;
        border-radius: 3px;
        justify-content: center;
        place-items: center;
        height: 30px;
        padding: 0 10px;
        font-size: 14px;
        line-height: 30px;
        display: flex
    }

    .atk-main-editor > .atk-bottom .atk-plug-btn:not(:last-child) {
        margin-right: 5px
    }

    .atk-main-editor > .atk-bottom .atk-plug-btn:hover {
        background: var(--at-color-bg-grey)
    }

    .atk-main-editor > .atk-bottom .atk-plug-btn.active {
        color: var(--at-color-main)
    }

    .atk-main-editor > .atk-bottom .atk-plug-btn.active svg.markdown path {
        fill: var(--at-color-main)
    }

    .atk-main-editor > .atk-bottom .atk-plug-btn i {
        color: var(--at-color-grey);
        justify-content: center;
        place-items: center;
        display: flex
    }

    .atk-main-editor > .atk-bottom .atk-plug-btn i:not(:first-child) {
        margin-left: 4px
    }

    .atk-main-editor > .atk-bottom .atk-state-btn {
        z-index: 2;
        background: var(--at-color-bg-grey-transl);
        cursor: pointer;
        border-radius: 3px;
        flex-direction: row;
        justify-content: center;
        place-items: center;
        height: 30px;
        padding: 0 0 0 10px;
        font-size: 14px;
        display: flex;
        position: relative;
        overflow: hidden
    }

    .atk-main-editor > .atk-bottom .atk-state-btn:hover .atk-cancel {
        background: #0000000a
    }

    @media only screen and (max-width: 768px) {
        .atk-main-editor > .atk-bottom .atk-state-btn {
            padding: 0
        }

        .atk-main-editor > .atk-bottom .atk-state-btn .atk-text-wrap {
            display: none
        }
    }

    .atk-main-editor > .atk-bottom .atk-state-btn .atk-text-wrap {
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 8em;
        padding: 0 8px 0 2px;
        overflow: hidden
    }

    .atk-main-editor > .atk-bottom .atk-state-btn .atk-cancel {
        background: #00000005;
        justify-content: center;
        place-items: center;
        height: 100%;
        padding: 0 10px;
        font-weight: 700;
        display: flex
    }

    .atk-main-editor > .atk-bottom .atk-send-btn {
        background: var(--at-color-main);
        color: #fff;
        cursor: pointer;
        border: 0;
        border-radius: 3px;
        outline: 0;
        min-width: 7.3em;
        height: 30px;
        margin: 0;
        font-size: 14px;
        transition: opacity .3s ease-in-out
    }

    @media only screen and (max-width: 768px) {
        .atk-main-editor > .atk-bottom .atk-send-btn {
            min-width: 6em
        }
    }

    .atk-main-editor > .atk-bottom .atk-send-btn:active {
        opacity: .9
    }

    .atk-main-editor > .atk-notify-wrap {
        z-index: 3;
        opacity: .83;
        width: 225px;
        position: absolute;
        bottom: 40px;
        right: -2px
    }

    .atk-sidebar-layer {
        z-index: 99999;
        background: var(--at-color-bg);
        width: 430px;
        height: 100%;
        transition: transform .45s cubic-bezier(.23, 1, .32, 1);
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(430px)
    }

    @media only screen and (max-width: 430px) {
        .atk-sidebar-layer {
            width: 100%
        }
    }

    .atk-sidebar-layer .atk-sidebar-inner {
        height: 100%;
        position: relative
    }

    .atk-sidebar-layer .atk-sidebar-header {
        z-index: 99999;
        flex-direction: row;
        align-items: center;
        display: flex;
        position: absolute;
        top: 0;
        right: 0
    }

    .atk-sidebar-layer .atk-sidebar-header .atk-sidebar-close {
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        flex-direction: column;
        place-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        margin-left: 10px;
        font-size: 22px;
        display: flex
    }

    .atk-sidebar-layer .atk-sidebar-header .atk-sidebar-close:hover :after {
        background-color: #e81123e6
    }

    .atk-sidebar-layer .atk-sidebar-iframe-wrap {
        height: 100%;
        position: relative
    }

    .atk-sidebar-layer .atk-sidebar-iframe-wrap iframe {
        border: 0;
        width: 100%;
        height: 100%
    }

    .atk-sidebar-layer .atk-sidebar-iframe-wrap .atk-err-alert {
        z-index: 9999;
        background: var(--at-color-bg);
        text-align: center;
        border-radius: 4px;
        width: 80%;
        padding: 40px 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .atk-sidebar-layer .atk-sidebar-iframe-wrap .atk-err-alert .atk-title {
        color: var(--at-color-font);
        margin-bottom: 20px;
        font-size: 1.4em
    }

    .atk-sidebar-layer .atk-sidebar-iframe-wrap .atk-err-alert .atk-text {
        color: var(--at-color-font)
    }

    .atk-sidebar-layer .atk-sidebar-iframe-wrap .atk-err-alert .atk-text span {
        cursor: pointer;
        color: var(--at-color-main)
    }

    .artalk {
        width: 100%;
        min-height: 200px;
        position: relative
    }

    .artalk, .atk-layer-wrap {
        color: var(--at-color-font);
        word-wrap: break-word;
        word-break: break-word
    }

    .artalk *, .atk-layer-wrap * {
        box-sizing: border-box
    }

    .artalk input, .artalk textarea, .artalk button, .artalk optgroup, .artalk select, .atk-layer-wrap input, .atk-layer-wrap textarea, .atk-layer-wrap button, .atk-layer-wrap optgroup, .atk-layer-wrap select {
        color: inherit;
        font-family: inherit;
        font-size: inherit
    }

    .artalk code, .atk-layer-wrap code {
        vertical-align: middle;
        background-color: var(--at-color-bg-grey);
        color: var(--at-color-font);
        border-radius: 2px;
        margin: 0 .05em;
        padding: 0 .4em;
        font-family: source code pro, Consolas, Monaco, Menlo, sans-serif;
        font-size: .9em;
        display: inline-block
    }

    .artalk pre, .atk-layer-wrap pre {
        margin: 10px 0 0;
        padding: 0;
        line-height: 0
    }

    .artalk pre code, .atk-layer-wrap pre code {
        background-color: var(--at-color-bg-grey);
        color: var(--at-color-font);
        margin: 0;
        padding: 10px 15px;
        line-height: 1.6em;
        display: block;
        white-space: pre-wrap !important
    }

    .artalk pre code *, .atk-layer-wrap pre code * {
        font-family: source code pro, Consolas, Monaco, Menlo, sans-serif
    }

    .artalk a, .atk-layer-wrap a {
        color: var(--at-color-main);
        text-decoration: none
    }

    .artalk blockquote, .atk-layer-wrap blockquote {
        background: var(--at-color-bg-grey);
        color: var(--at-color-font);
        border-left: 4px solid #687a86;
        margin: 10px 0;
        padding: 10px 20px;
        position: static
    }

    .artalk p:first-child, .atk-layer-wrap p:first-child {
        margin-top: 0
    }

    .artalk p:last-child, .atk-layer-wrap p:last-child {
        margin-bottom: 0
    }

    .artalk img, .atk-layer-wrap img {
        max-width: 100%
    }

    .artalk table, .atk-layer-wrap table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 1.5em;
        font-size: .96em
    }

    .artalk td, .artalk th, .atk-layer-wrap td, .atk-layer-wrap th {
        text-align: left;
        border: 1px solid var(--at-color-border);
        padding: 4px 8px 4px 10px
    }

    .artalk td, .atk-layer-wrap td {
        vertical-align: top
    }

    .artalk tr:nth-child(2n), .atk-layer-wrap tr:nth-child(2n) {
        background-color: var(--at-color-bg-grey)
    }

    .artalk ul, .atk-layer-wrap ul {
        list-style: disc
    }

    .artalk ol, .atk-layer-wrap ol {
        list-style: decimal
    }

    .artalk li + li, .atk-layer-wrap li + li {
        margin-top: 8px
    }

    .artalk li > ol, .artalk li > ul, .atk-layer-wrap li > ol, .atk-layer-wrap li > ul {
        margin: 8px 0 0
    }

    .atk-hide {
        display: none !important
    }

    .atk-full-layer, .atk-layer-dialog-wrap, .atk-error-layer, .atk-loading {
        background: var(--at-color-bg);
        z-index: 4;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0
    }

    .atk-loading-spinner {
        width: 50px;
        height: 50px;
        position: relative
    }

    .atk-loading-spinner svg {
        transform-origin: 50%;
        width: 100%;
        height: 100%;
        animation: 2s linear infinite atkRotate;
        position: absolute;
        top: 0;
        left: 0
    }

    .atk-loading-spinner svg circle {
        stroke-dasharray: 1 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: 1.5s ease-in-out infinite atkDash, 6s ease-in-out infinite atkColor
    }

    @keyframes atkRotate {
        0% {
            transform: rotate(0)
        }
        to {
            transform: rotate(360deg)
        }
    }

    @keyframes atkDash {
        0% {
            stroke-dasharray: 1 200;
            stroke-dashoffset: 0
        }
        50% {
            stroke-dasharray: 89 200;
            stroke-dashoffset: -35px
        }
        to {
            stroke-dasharray: 89 200;
            stroke-dashoffset: -124px
        }
    }

    @keyframes atkColor {
        0%, to {
            stroke: #ff5652
        }
        40% {
            stroke: #2196f3
        }
        66% {
            stroke: #32c787
        }
        80%, 90% {
            stroke: #ffc107
        }
    }

    @keyframes atkLoadingIconRotate {
        0% {
            transform: rotate(0)
        }
        to {
            transform: rotate(360deg)
        }
    }

    .atk-loading-icon {
        box-sizing: border-box;
        border: 1px solid #0000;
        border-color: #29d #0000 #0000 #29d;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        animation: .4s linear infinite atkLoadingIconRotate
    }

    .atk-fade-in {
        animation: .3s both atkFadeIn
    }

    .atk-fade-out {
        animation: .2s both atkFadeOut
    }

    .atk-rotate {
        animation: 2s linear infinite atkRotate
    }

    @keyframes atkFadeIn {
        0% {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }

    @keyframes atkFadeOut {
        to {
            opacity: 0
        }
    }

    .atk-icon:after {
        content: "";
        background-color: var(--at-color-deep);
        background-repeat: no-repeat;
        background-size: contain;
        width: 1em;
        height: 1em;
        display: block;
        -webkit-mask-position: 50%;
        mask-position: 50%;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat
    }

    .atk-icon-sync:after {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99133 4.87635C2.22512 7.64257 2.22512 12.1275 4.99133 14.8937C6.04677 15.9491 7.3524 16.6019 8.71732 16.8519' stroke='%234E5969' stroke-width='2'/%3E%3Cpath d='M14.4179 15.4815L15.0072 14.8922C17.7734 12.126 17.7734 7.64107 15.0072 4.87486C13.9518 3.81942 12.6461 3.16668 11.2812 2.91664' stroke='%234E5969' stroke-width='2'/%3E%3Cpath d='M6.17106 4.99252L5.58181 4.40327L4.99255 3.81401H6.17106V4.99252Z' fill='%23C4C4C4' stroke='%234E5969' stroke-width='2'/%3E%3Cpath d='M13.8299 15.0084L14.4192 15.5976L15.0084 16.1869H13.8299V15.0084Z' fill='%23C4C4C4' stroke='%234E5969' stroke-width='2'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99133 4.87635C2.22512 7.64257 2.22512 12.1275 4.99133 14.8937C6.04677 15.9491 7.3524 16.6019 8.71732 16.8519' stroke='%234E5969' stroke-width='2'/%3E%3Cpath d='M14.4179 15.4815L15.0072 14.8922C17.7734 12.126 17.7734 7.64107 15.0072 4.87486C13.9518 3.81942 12.6461 3.16668 11.2812 2.91664' stroke='%234E5969' stroke-width='2'/%3E%3Cpath d='M6.17106 4.99252L5.58181 4.40327L4.99255 3.81401H6.17106V4.99252Z' fill='%23C4C4C4' stroke='%234E5969' stroke-width='2'/%3E%3Cpath d='M13.8299 15.0084L14.4192 15.5976L15.0084 16.1869H13.8299V15.0084Z' fill='%23C4C4C4' stroke='%234E5969' stroke-width='2'/%3E%3C/svg%3E")
    }

    .atk-icon-del:after {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.29167 5.04166L4.81251 5.04166M4.81251 5.04166L4.81251 18.3333C4.81251 18.5865 5.01771 18.7917 5.27084 18.7917L16.7292 18.7917C16.9823 18.7917 17.1875 18.5865 17.1875 18.3333V5.04166M4.81251 5.04166L7.33334 5.04166M17.1875 5.04166L19.7083 5.04166M17.1875 5.04166L14.6667 5.04166M7.33334 5.04166V3.20833L14.6667 3.20833V5.04166M7.33334 5.04166L14.6667 5.04166' stroke='%23D06565' stroke-width='2'/%3E%3Cpath d='M9.16667 8.25V15.125M12.8333 8.25V15.125' stroke='%23D06565' stroke-width='2'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.29167 5.04166L4.81251 5.04166M4.81251 5.04166L4.81251 18.3333C4.81251 18.5865 5.01771 18.7917 5.27084 18.7917L16.7292 18.7917C16.9823 18.7917 17.1875 18.5865 17.1875 18.3333V5.04166M4.81251 5.04166L7.33334 5.04166M17.1875 5.04166L19.7083 5.04166M17.1875 5.04166L14.6667 5.04166M7.33334 5.04166V3.20833L14.6667 3.20833V5.04166M7.33334 5.04166L14.6667 5.04166' stroke='%23D06565' stroke-width='2'/%3E%3Cpath d='M9.16667 8.25V15.125M12.8333 8.25V15.125' stroke='%23D06565' stroke-width='2'/%3E%3C/svg%3E");
        background-color: var(--at-color-red) !important
    }

    .atk-icon-edit:after {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.70618 4.08515L12.6081 7.06376M1.00041 13.021L11.7376 2L14.6392 4.97861L3.90274 16H1L1.00041 13.021Z' stroke='%234E5969' stroke-width='1.5'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.70618 4.08515L12.6081 7.06376M1.00041 13.021L11.7376 2L14.6392 4.97861L3.90274 16H1L1.00041 13.021Z' stroke='%234E5969' stroke-width='1.5'/%3E%3C/svg%3E")
    }

    .atk-icon-yes:after, .atk-icon-check:after {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.7071 5.75533L9.92197 17.5404L3.29285 10.9113' stroke='%234E5969'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.7071 5.75533L9.92197 17.5404L3.29285 10.9113' stroke='%234E5969'/%3E%3C/svg%3E")
    }

    .atk-icon-plus:after {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.08331 10H17.9166' stroke='%234E5969' stroke-width='2'/%3E%3Cpath d='M10 2.08334L10 17.9167' stroke='%234E5969' stroke-width='2'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.08331 10H17.9166' stroke='%234E5969' stroke-width='2'/%3E%3Cpath d='M10 2.08334L10 17.9167' stroke='%234E5969' stroke-width='2'/%3E%3C/svg%3E")
    }

    .atk-icon-close-slim:after {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M19.8657 5.13431L12.5 12.5L5.13431 19.8657' stroke='%234E5969'/%3E%3Cpath d='M5.13431 5.13432L12.5 12.5L19.8657 19.8657' stroke='%234E5969'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M19.8657 5.13431L12.5 12.5L5.13431 19.8657' stroke='%234E5969'/%3E%3Cpath d='M5.13431 5.13432L12.5 12.5L19.8657 19.8657' stroke='%234E5969'/%3E%3C/svg%3E")
    }

    .atk-icon-arrow-left:after {
        -webkit-mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M6.54542 8.00004L11 12.6667L9.72729 14L4 8.00004L9.72729 2L11 3.33333L6.54542 8.00004Z" /></svg>');
        mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M6.54542 8.00004L11 12.6667L9.72729 14L4 8.00004L9.72729 2L11 3.33333L6.54542 8.00004Z" /></svg>')
    }

    .atk-icon-no:after, .atk-icon-close:after {
        -webkit-mask-image: url('data:image/svg+xml,<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"></path></svg>');
        mask-image: url('data:image/svg+xml,<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"></path></svg>')
    }

    .atk-error-layer {
        background-color: var(--at-color-bg-transl)
    }

    .atk-error-layer .atk-error-title {
        color: var(--at-color-red)
    }

    .atk-error-layer .atk-warn-title {
        color: var(--at-color-yellow)
    }

    .atk-error-layer .atk-error-title, .atk-error-layer .atk-warn-title {
        letter-spacing: -.5px;
        margin-bottom: 20px;
        padding: 0 15px;
        font-size: 20px;
        display: inline-block
    }

    .atk-error-layer .atk-error-text {
        text-align: center;
        padding: 0 20px
    }

    .atk-error-layer .atk-error-text * {
        color: var(--at-color-deep)
    }

    .atk-error-layer .atk-error-text a {
        color: var(--at-color-meta)
    }

    .atk-version-check-notice {
        background: var(--at-color-bg-grey);
        border-radius: 6px;
        margin-bottom: 10px;
        padding: 10px 20px;
        font-size: 14px
    }

    .atk-version-check-notice .atk-info {
        color: var(--at-color-meta)
    }

    .atk-version-check-notice .atk-ignore-btn {
        cursor: pointer;
        float: right
    }

    .atk-version-check-notice .atk-ignore-btn:hover {
        opacity: .8
    }

    .atk-layer-dialog-wrap {
        background-color: var(--at-color-bg-transl)
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog {
        width: 25%
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog > .atk-layer-dialog-content .atk-captcha-img {
        cursor: pointer;
        border-right: 1px solid var(--at-color-border);
        vertical-align: bottom;
        width: 170px;
        height: auto;
        margin-right: 10px;
        padding-right: 10px
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog > .atk-layer-dialog-content input {
        background-color: var(--at-color-bg);
        border: 1px solid var(--at-color-border);
        text-align: center;
        border-radius: 3px;
        outline: 0;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0 6px;
        line-height: 34px;
        display: block
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog > .atk-layer-dialog-actions {
        flex-direction: row;
        display: flex
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog > .atk-layer-dialog-actions button {
        cursor: pointer;
        border: 1px solid var(--at-color-main);
        color: var(--at-color-main);
        background: 0 0;
        border-radius: 3px;
        outline: 0;
        flex: 1;
        padding: 0 15px;
        line-height: 30px;
        display: block
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog > .atk-layer-dialog-actions button:active {
        color: #fff;
        background: var(--at-color-main)
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog > .atk-layer-dialog-actions button:not(:last-child) {
        margin-right: 5px
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog > .atk-layer-dialog-actions button.error {
        color: #fff;
        background: #ff5652;
        border-color: #ff5652
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog .atk-checker-iframe-wrap {
        z-index: 999998;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog .atk-checker-iframe-wrap > iframe {
        border: 0;
        width: 100%;
        height: 100%
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog .atk-checker-iframe-wrap .atk-close-btn {
        z-index: 999999;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        flex-direction: column;
        place-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        display: flex;
        position: fixed;
        top: 20px;
        right: 20px
    }

    .atk-layer-dialog-wrap > .atk-layer-dialog .atk-checker-iframe-wrap .atk-close-btn:hover .atk-icon-close:after {
        background-color: #e81123e6
    }

    @media only screen and (max-width: 768px) {
        .atk-layer-dialog-wrap > .atk-layer-dialog {
            width: 90% !important
        }
    }

    .atk-notify {
        color: #fff;
        cursor: pointer;
        background-color: #2c2c2c;
        border-radius: 3px;
        padding: 5px 15px;
        font-size: 14px;
        display: block;
        overflow: hidden
    }

    .atk-notify:not(:last-child) {
        margin-bottom: 3px
    }

    .atk-notify .atk-notify-content {
        color: #fff
    }

    .atk-layer-wrap .atk-layer-mask {
        z-index: 99998;
        background: #0000004d;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0
    }

    .atk-layer-wrap .atk-layer-item {
        z-index: 99999;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0
    }

    .atk-common-action-btn.atk-btn-confirm, .atk-common-action-btn.atk-btn-warn {
        color: var(--at-color-yellow) !important
    }

    .atk-common-action-btn.atk-btn-error {
        color: var(--at-color-red) !important
    }

    .atk-common-action-btn.atk-btn-success {
        color: var(--at-color-green) !important
    }

    img[atk-emoticon] {
        display: initial;
        max-height: 60px
    }

    .atk-slim-scrollbar::-webkit-scrollbar {
        background: 0 0;
        width: 4px;
        height: 4px
    }

    .atk-editor-plug-emoticons > .atk-grp-wrap::-webkit-scrollbar {
        background: 0 0;
        width: 4px;
        height: 4px
    }

    .atk-slim-scrollbar::-webkit-scrollbar-thumb {
        background: #5656564d
    }

    .atk-editor-plug-emoticons > .atk-grp-wrap::-webkit-scrollbar-thumb {
        background: #5656564d
    }

    .atk-slim-scrollbar::-webkit-scrollbar-thumb:window-inactive {
        background: #5656564d
    }

    .atk-slim-scrollbar::-webkit-scrollbar-thumb:vertical:hover {
        background: #414a52c4
    }

    .atk-editor-plug-emoticons > .atk-grp-wrap::-webkit-scrollbar-thumb:vertical:hover {
        background: #414a52c4
    }

    .atk-slim-scrollbar::-webkit-scrollbar-thumb:vertical:active {
        background: #292f35c4
    }

    .atk-editor-plug-emoticons > .atk-grp-wrap::-webkit-scrollbar-thumb:vertical:active {
        background: #292f35c4
    }

    .atk-editor-plug-emoticons {
        width: 100%;
        height: 100%
    }

    .atk-editor-plug-emoticons > .atk-grp-wrap {
        width: 100%;
        height: 100%;
        overflow: hidden scroll
    }

    .atk-editor-plug-emoticons > .atk-grp-wrap > .atk-grp {
        flex-flow: wrap;
        padding: 5px 10px 35px;
        display: flex
    }

    .atk-editor-plug-emoticons > .atk-grp-wrap > .atk-grp[data-type=image] > .atk-item {
        width: 63px;
        height: 63px
    }

    .atk-editor-plug-emoticons > .atk-grp-wrap > .atk-grp > .atk-item {
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
        min-width: 35px;
        margin: 2px;
        padding: 5px;
        font-size: 15px;
        display: flex
    }

    .atk-editor-plug-emoticons > .atk-grp-wrap > .atk-grp > .atk-item > img {
        width: auto;
        max-height: 100%
    }

    .atk-editor-plug-emoticons > .atk-grp-wrap > .atk-grp > .atk-item:hover {
        background: var(--at-color-bg-grey)
    }

    .atk-editor-plug-emoticons > .atk-grp-switcher {
        background: var(--at-color-bg-transl);
        border-top: 1px solid var(--at-color-border);
        border-bottom: 1px solid var(--at-color-border);
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;
        left: 0
    }

    .atk-editor-plug-emoticons > .atk-grp-switcher > span {
        -webkit-user-select: none;
        user-select: none;
        float: left;
        cursor: pointer;
        padding: 0 10px;
        font-size: 14px;
        line-height: 30px;
        display: block
    }

    .atk-editor-plug-emoticons > .atk-grp-switcher > span:hover, .atk-editor-plug-emoticons > .atk-grp-switcher > span.active {
        background: var(--at-color-bg-grey)
    }

    .atk-slim-scrollbar::-webkit-scrollbar {
        background: 0 0;
        width: 4px;
        height: 4px
    }

    .atk-slim-scrollbar::-webkit-scrollbar-thumb {
        background: #5656564d
    }

    .atk-slim-scrollbar::-webkit-scrollbar-thumb:window-inactive {
        background: #5656564d
    }

    .atk-slim-scrollbar::-webkit-scrollbar-thumb:vertical:hover {
        background: #414a52c4
    }

    .atk-slim-scrollbar::-webkit-scrollbar-thumb:vertical:active {
        background: #292f35c4
    }

    .atk-editor-plug-preview {
        width: 100%;
        height: 100%;
        padding: 10px 15px;
        overflow: hidden scroll
    }
</style>
<style is:global lang="stylus">

/* utils */
white(a)
  rgba(255, 255, 255, a)

black(a)
  rgba(0, 0, 0, a)

isOklch(c)
  return substr(c, 0, 5) == 'oklch'

oklch_fallback(c)
  str = '' + c    // convert color value to string
  if isOklch(str)
    return convert(oklchToHex(str))
  return c

color_set(colors)
  @supports (color: oklch(0 0 0))
    :root
      for key, value in colors
        {key}: value[0]
    :root.dark
      for key, value in colors
        if length(value) > 1
          {key}: value[1]
  /* provide fallback color for oklch */
  @supports not (color: oklch(0 0 0))
    :root
      for key, value in colors
        {key}: oklch_fallback(value[0])
    :root.dark
      for key, value in colors
        if length(value) > 1
          {key}: oklch_fallback(value[1])

rainbow-light = linear-gradient(to right, oklch(0.80 0.10 0), oklch(0.80 0.10 30), oklch(0.80 0.10 60), oklch(0.80 0.10 90), oklch(0.80 0.10 120), oklch(0.80 0.10 150), oklch(0.80 0.10 180), oklch(0.80 0.10 210), oklch(0.80 0.10 240), oklch(0.80 0.10 270), oklch(0.80 0.10 300), oklch(0.80 0.10 330), oklch(0.80 0.10 360))
rainbow-dark = linear-gradient(to right, oklch(0.70 0.10 0), oklch(0.70 0.10 30), oklch(0.70 0.10 60), oklch(0.70 0.10 90), oklch(0.70 0.10 120), oklch(0.70 0.10 150), oklch(0.70 0.10 180), oklch(0.70 0.10 210), oklch(0.70 0.10 240), oklch(0.70 0.10 270), oklch(0.70 0.10 300), oklch(0.70 0.10 330), oklch(0.70 0.10 360))

:root
  --radius-large 1rem

  --content-delay 150ms

color_set({
  --primary: oklch(0.70 0.14 var(--hue)) oklch(0.75 0.14 var(--hue))
  --page-bg: oklch(0.95 0.01 var(--hue)) oklch(0.16 0.014 var(--hue))
  --card-bg: white oklch(0.23 0.015 var(--hue))

  --btn-content: oklch(0.55 0.12 var(--hue)) oklch(0.75 0.1 var(--hue))

  --btn-regular-bg: oklch(0.95 0.025 var(--hue)) oklch(0.33 0.035 var(--hue))
  --btn-regular-bg-hover: oklch(0.9 0.05 var(--hue)) oklch(0.38 0.04 var(--hue))
  --btn-regular-bg-active: oklch(0.85 0.08 var(--hue)) oklch(0.43 0.045 var(--hue))

  --btn-plain-bg-hover: oklch(0.95 0.025 var(--hue)) oklch(0.30 0.035 var(--hue))
  --btn-plain-bg-active: oklch(0.98 0.01 var(--hue)) oklch(0.27 0.025 var(--hue))

  --btn-card-bg-hover: oklch(0.98 0.005 var(--hue)) oklch(0.3 0.03 var(--hue))
  --btn-card-bg-active: oklch(0.9 0.03 var(--hue)) oklch(0.35 0.035 var(--hue))

  --enter-btn-bg: var(--btn-regular-bg)
  --enter-btn-bg-hover: var(--btn-regular-bg-hover)
  --enter-btn-bg-active: var(--btn-regular-bg-active)

  --deep-text: oklch(0.25 0.02 var(--hue))

  --title-active: oklch(0.6 0.1 var(--hue))

  --line-divider: black(0.08) white(0.08)

  --line-color: black(0.1) white(0.1)
  --meta-divider: black(0.2) white(0.2)

  --inline-code-bg: var(--btn-regular-bg)
  --inline-code-color: var(--btn-content)
  --selection-bg: oklch(0.90 0.05 var(--hue)) oklch(0.40 0.08 var(--hue))
  --codeblock-selection: oklch(0.40 0.08 var(--hue))
  --codeblock-bg: oklch(0.2 0.015 var(--hue)) oklch(0.17 0.015 var(--hue))

  --license-block-bg: black(0.03) var(--codeblock-bg)

  --link-underline: oklch(0.93 0.04 var(--hue)) oklch(0.40 0.08 var(--hue))
  --link-hover: oklch(0.95 0.025 var(--hue)) oklch(0.40 0.08 var(--hue))
  --link-active: oklch(0.90 0.05 var(--hue)) oklch(0.35 0.07 var(--hue))

  --float-panel-bg: white oklch(0.19 0.015 var(--hue))

  --scrollbar-bg-light: black(0.4)
  --scrollbar-bg-hover-light: black(0.5)
  --scrollbar-bg-active-light: black(0.6)

  --scrollbar-bg-dark: white(0.4)
  --scrollbar-bg-hover-dark: white(0.5)
  --scrollbar-bg-active-dark: white(0.6)

  --scrollbar-bg: var(--scrollbar-bg-light) var(--scrollbar-bg-dark)
  --scrollbar-bg-hover: var(--scrollbar-bg-hover-light) var(--scrollbar-bg-hover-dark)
  --scrollbar-bg-active: var(--scrollbar-bg-active-light) var(--scrollbar-bg-active-dark)

  --color-selection-bar: rainbow-light rainbow-dark

  --display-light-icon: 1 0
  --display-dark-icon: 0 1

  --admonitions-color-tip: oklch(0.7 0.14 180) oklch(0.75 0.14 180)
  --admonitions-color-note: oklch(0.7 0.14 250) oklch(0.75 0.14 250)
  --admonitions-color-important: oklch(0.7 0.14 310) oklch(0.75 0.14 310)
  --admonitions-color-warning: oklch(0.7 0.14 60) oklch(0.75 0.14 60)
  --admonitions-color-caution: oklch(0.6 0.2 25) oklch(0.65 0.2 25)

  --toc-badge-bg: oklch(0.9 0.045 var(--hue)) var(--btn-regular-bg)
  --toc-btn-hover: oklch(0.92 0.015 var(--hue)) oklch(0.22 0.02 var(--hue))
  --toc-btn-active: oklch(0.90 0.015 var(--hue)) oklch(0.25 0.02 var(--hue))
})


/* some global styles */
::selection
  background-color: var(--selection-bg)

.scrollbar-base.os-scrollbar
  transition: width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s, visibility 0.15s, top 0.15s, right 0.15s, bottom 0.15s, left 0.15s;
  pointer-events: unset;
  &.os-scrollbar-horizontal
    padding-top: 4px;
    padding-bottom: 4px;
    height: 16px;
    .os-scrollbar-track .os-scrollbar-handle
      height: 4px;
      border-radius: 4px;
    &:hover
      .os-scrollbar-track .os-scrollbar-handle
        height: 8px;
    &.px-2
      padding-left: 8px;
      padding-right: 8px;
  &.os-scrollbar-vertical
    padding-left: 4px;
    padding-right: 4px;
    width: 16px;
    .os-scrollbar-track .os-scrollbar-handle
      width: 4px;
      border-radius: 4px;
    &:hover
      .os-scrollbar-track .os-scrollbar-handle
        width: 8px;
    &.py-1
      padding-top: 4px;
      padding-bottom: 4px;

.scrollbar-auto
  &.os-scrollbar
    --os-handle-bg: var(--scrollbar-bg);
    --os-handle-bg-hover: var(--scrollbar-bg-hover);
    --os-handle-bg-active: var(--scrollbar-bg-active);

.scrollbar-dark
  &.os-scrollbar
    --os-handle-bg: var(--scrollbar-bg-dark);
    --os-handle-bg-hover: var(--scrollbar-bg-hover-dark);
    --os-handle-bg-active: var(--scrollbar-bg-active-dark);

.scrollbar-light
  &.os-scrollbar
    --os-handle-bg: var(--scrollbar-bg-light);
    --os-handle-bg-hover: var(--scrollbar-bg-hover-light);
    --os-handle-bg-active: var(--scrollbar-bg-active-light);


</style>
